<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Payment</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/shared.css" />
  </head>
  <body>
    <header>
        <img src="./assets/RMJ_dark.svg" alt="Logo" class="logo" />
        <div class="buttons">            
            <a href="./index.html" class="button">Home</a>
            <span class="button">Seating</span>
            <span class="button">Contact</span>
        </div>
    </header>

    <div class="welcome">
        <div id="welcome-text">
            <div id="welcome-title">Dlouho jsi nebyl na žádné akci!</div>
            <div id="welcome-subtext">Je čas to změnit - vstupenky čekají online.</div>
            <a id="welcome-button" href="#eshop">Vybrat akci</a>
        </div>
        <img src="./assets/image.jpg" alt="Welcome Image" id="welcome-image" />
    </div>

    <main>
      <section id="eshop">
      </section>
    </main>
    <script src="./scripts/eshop.js" defer></script>
  </body>